<%= render partial: 'merchants/shared/header' %>

<h4>Bulk Discount Details</h4>

<p>Discount: <%= @bulk_discount.discount %>%</p>

<p>Quantity threshold for discount to apply: <%= @bulk_discount.qty_threshold %> items</p>
